.html-warning {
  font-size: 16px;
  width: 750px;
  text-align: justify;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-left: #ff6a00 4px solid;
}
